<a href="https://colab.research.google.com/github/geojaimo/relevelprojects/blob/main/NBFC_loan_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
nbfc_train=pd.read_csv('/content/drive/MyDrive/Nbfc_train.csv')
nbfc_test=pd.read_csv('/content/drive/MyDrive/Nbfc_test.csv')

<ipython-input-2-bed9983fe0b3>:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  nbfc_train=pd.read_csv('/content/drive/MyDrive/Nbfc_train.csv')
<ipython-input-2-bed9983fe0b3>:2: DtypeWarning: Columns (7,8,16,17,18,19,20,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  nbfc_test=pd.read_csv('/content/drive/MyDrive/Nbfc_test.csv')

In [3]:
nbfc_train.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [5]:
nbfc_train.shape

(121856, 40)

In [4]:
nbfc_train.isna().sum()

ID                                0
Client_Income                  3607
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

In [8]:
nbfc_train=nbfc_train.dropna()

In [9]:
nbfc_train.shape

(2568, 40)

In [13]:
nbfc_train.isna().sum()

ID                            0
Client_Income                 0
Car_Owned                     0
Bike_Owned                    0
Active_Loan                   0
House_Own                     0
Child_Count                   0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Education              0
Client_Marital_Status         0
Client_Gender                 0
Loan_Contract_Type            0
Client_Housing_Type           0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
Registration_Days             0
ID_Days                       0
Own_House_Age                 0
Mobile_Tag                    0
Homephone_Tag                 0
Workphone_Working             0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Application_Process_Day       0
Application_Process_Hour      0
Client_Permanent_Match_Tag    0
Client_Contact_Work_Tag       0
Type_Organization             0
Score_Source_1                0
Score_Source_2                0
Score_Source_3                0
Social_Circle_Default         0
Phone_Change                  0
Credit_Bureau                 0
Default                       0
dtype: int64

In [10]:
nbfc_test.shape

(80900, 39)

In [11]:
nbfc_test.isna().sum()

ID                                0
Client_Income                  2434
Car_Owned                      2405
Bike_Owned                     2486
Active_Loan                    2454
House_Own                      2347
Child_Count                    2328
Credit_Amount                  2287
Loan_Annuity                   3203
Accompany_Client               1208
Client_Income_Type             2501
Client_Education               2350
Client_Marital_Status          2443
Client_Gender                  1627
Loan_Contract_Type             2321
Client_Housing_Type            2408
Population_Region_Relative     3270
Age_Days                       2479
Employed_Days                  2421
Registration_Days              2398
ID_Days                        3881
Own_House_Age                 53581
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             27845
Client_Family_Members          1644
Cleint_City_Rating             1631
Application_Process_Day        1539
Application_Process_Hour       2406
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              2459
Score_Source_1                45493
Score_Source_2                 3715
Score_Source_3                18018
Social_Circle_Default         41090
Phone_Change                   2423
Credit_Bureau                 12282
dtype: int64

In [12]:
nbfc_test=nbfc_test.dropna()

In [14]:
nbfc_test.isna().sum()

ID                            0
Client_Income                 0
Car_Owned                     0
Bike_Owned                    0
Active_Loan                   0
House_Own                     0
Child_Count                   0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Education              0
Client_Marital_Status         0
Client_Gender                 0
Loan_Contract_Type            0
Client_Housing_Type           0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
Registration_Days             0
ID_Days                       0
Own_House_Age                 0
Mobile_Tag                    0
Homephone_Tag                 0
Workphone_Working             0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Application_Process_Day       0
Application_Process_Hour      0
Client_Permanent_Match_Tag    0
Client_Contact_Work_Tag       0
Type_Organization             0
Score_Source_1                0
Score_Source_2                0
Score_Source_3                0
Social_Circle_Default         0
Phone_Change                  0
Credit_Bureau                 0
dtype: int64

In [15]:
nbfc_test.shape

(1725, 39)

In [18]:
x_train=nbfc_train[['Score_Source_1','Score_Source_2','Score_Source_3']]
y_train=nbfc_train[['Default']]

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rfc=RandomForestClassifier()

In [21]:
rfc.fit(x_train,y_train)

<ipython-input-21-b87bb2ba9825>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(x_train,y_train)

RandomForestClassifier()

In [22]:
x_test=nbfc_test[['Score_Source_1','Score_Source_2','Score_Source_3']]

In [29]:
y_pred=rfc.predict(x_test)
nbfc_test['Default']=y_pred

In [30]:
nbfc_test['Default'].value_counts()

0    1706
1      19
Name: Default, dtype: int64